{% if not directory.isRootDirectory %}<div class="directory" id="{{directory.id}}"><h{{ directory.depth }}>{{ directory.title }}</h{{ directory.depth }}>{% endif %}

{% if directory.documentation %}
    {{ directory.documentation.html | raw }}
{% endif %}

{% for pattern in directory.patterns %}
    {% include "@lab/content/_pattern.html.twig" %}
{% endfor %}

{% for directory in directory.subDirectories %}
    {% include "@lab/content/_directory.html.twig" %}
{% endfor %}

{% if not directory.isRootDirectory %}</div>{% endif %}