{% if not directory.isRootDirectory %}<div class="directory navigatable-content" id="{{directory.id}}"><div class="headline"><h{{ directory.depth }}>{{ directory.title }}</h{{ directory.depth }}></div>{% endif %}

{% if directory.documentation.config %}
    <p>Frontmatter: (meta)</p>
      {% include "@lab/content/_frontmatter.html.twig" with {frontmatter: directory.documentation.config} %}

{% endif %}

{% if directory.documentation.html %}
    <button class="codetoggle">DOCS</button>
    <pre class="documentation">
      {{ directory.documentation.html | raw }}
    </pre>
{% endif %}

{% for pattern in directory.patterns %}
    {% include "@lab/content/_pattern.html.twig" %}
{% endfor %}

{% for directory in directory.subDirectories %}
    {% include "@lab/content/_directory.html.twig" %}
{% endfor %}

{% if not directory.isRootDirectory %}</div>{% endif %}