{% set patternHtml %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ displayPatternsCss }}" />
    </head>
    <body>
        {% include "@display-patterns/" ~ twigfile.file.relativePathname with twigfile.data %}
    </body>
</html>
{% endset %}

<h{{ twigfile.depth }} id="{{ node.id }}" class="lab-pattern">{{ node.title }}</h{{ twigfile.depth }}>
{% if (twigfile.data | length) > 0 %}
    <p>Dies sind die Beispieldaten:</p>
    <pre>{{ yamlize(twigfile.data) }}</pre>
{% endif %}
<iframecontainer><iframe scrolling="no" seamless="seamless" srcdoc="{{ patternHtml|e }}"></iframe></iframecontainer>