
{% if variant.documentation.config %}
    <p>Es gibt Meta-Informationen zu dieser Variante:</p>
    {% include "@lab/content/_frontmatter.html.twig" with {frontmatter: variant.documentation.config} %}
{% endif %}

{% if variant.documentation.html %}
    {{ variant.documentation.html | raw }}
{% endif %}

{% if variant.data %}
    <p>Dies sind die Beispieldaten:</p>
    <pre><code class="json">{{ variant.dataAsString }}</code></pre>
{% endif %}

{% if variant.twigfile %}
    <p>So sieht das Pattern gerendert aus:</p>

    {% set patternHtml %}
        {% include "@display-patterns/" ~ variant.twigfile.file.relativePathname with variant.data %}
    {% endset %}
    {% set iframeContent %}
        <html>
        <head>
            <link rel="stylesheet" type="text/css" href="{{ displayPatternsCss }}" />
        </head>
            <body>
                {{ patternHtml|raw }}
            </body>
        </html>
    {% endset %}

    <iframe id="iframe-{{pattern.id}}" scrolling="no" seamless="seamless" data-srcdoc="<div class='ck-container'>{{ iframeContent|e }}</div>"></iframe>

    <button class="codetoggle">TWIG</button>
    <pre><code class="twig">
        {{ variant.twigfile.contents }}
    </code></pre>
    
    {% if variant.scssfile %}
        <button class="codetoggle">Diese Variante hat eine eigene Scss-Datei:</button>
        <pre><code class="scss">
            {{ variant.scssfile.contents }}
        </code></pre>
    {% endif %}
    
    
    <button class="codetoggle">HTML</button>
    <pre><code class="html">
        {{ patternHtml|e }}
    </code></pre>
{% endif %}


