
{% if variant.documentation %}
    {{ variant.documentation.html | raw }}
{% endif %}

{% if variant.data %}
    <p>Dies sind die Beispieldaten:</p>
    <pre>{{ variant.dataAsString }}</pre>
{% endif %}

{% if variant.twigfile %}
    <p>So sieht das Pattern gerendert aus:</p>

    {% set patternHtml %}
        {% include "@display-patterns/" ~ variant.twigfile.file.relativePathname with variant.data %}
    {% endset %}
    {% set iframeContent %}
        <html>
        <head>
            <link rel="stylesheet" type="text/css" href="{{ displayPatternsCss }}" />
        </head>
            <body>
                {{ patternHtml|raw }}
            </body>
        </html>
    {% endset %}

    <iframecontainer><iframe scrolling="no" seamless="seamless" srcdoc="{{ iframeContent|e }}"></iframe></iframecontainer>

    <p>Hier das gerenderte HTML:</p>
    <pre>
        {{ patternHtml|e }}
    </pre>

    <p>Hier der Quelltext des Templates:</p>
    <pre>
        {{ variant.twigfile.contents }}
    </pre>
{% endif %}

{% if variant.scssfile %}
    <p>Diese Variante hat eine eigene Scss-Datei:</p>
    <pre>
        {{ variant.scssfile.contents }}
    </pre>
{% endif %}
