
{% if variant.documentation %}
    {{ variant.documentation.html | raw }}
{% endif %}

{% if variant.data %}
    <p>Dies sind die Beispieldaten:</p>
    <pre><code class="json">{{ variant.dataAsString }}</code></pre>
{% endif %}

{% if variant.twigfile %}
    <p>So sieht das Pattern gerendert aus:</p>

    {% set patternHtml %}
        {% include "@display-patterns/" ~ variant.twigfile.file.relativePathname with variant.data %}
    {% endset %}
    {% set iframeContent %}
        <html>
        <head>
            <link rel="stylesheet" type="text/css" href="{{ displayPatternsCss }}" />
        </head>
            <body>
                {{ patternHtml|raw }}
            </body>
        </html>
    {% endset %}

    <iframe id="iframe-{{pattern.id}}" scrolling="no" seamless="seamless" data-srcdoc="{{ iframeContent|e }}"></iframe>

    <p>Hier das gerenderte HTML:</p>
    <pre><code class="html">
        {{ patternHtml|e }}
    </code></pre>

    <p>Hier der Quelltext des Templates:</p>
    <pre><code class="twig">
        {{ variant.twigfile.contents }}
    </code></pre>
{% endif %}

{% if variant.scssfile %}
    <p>Diese Variante hat eine eigene Scss-Datei:</p>
    <pre><code class="scss">
        {{ variant.scssfile.contents }}
    </code></pre>
{% endif %}
